{% load staticfiles %}

@font-face {
    font-family: light-one; /* Имя шрифта */
    src: url(fonts/OpenSans-CondLight.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: bold-one; /* Имя шрифта */
    src: url(fonts/OpenSans-CondBold.ttf); /* Путь к файлу со шрифтом */
   }

body {
    background-image: url("img/back.png");

}

.outer {
    color: #FFFFFF;
    font-family: light-one;
    font-size: 14px;
}

.inner {
    min-width: 250px;
    max-width: 400px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.bold_p {
    font-size: 34px;
    margin-top: 0em; /* Отступ сверху */
    margin-bottom: 10px; /* Отступ снизу */
    font-family: bold-one;
    text-align: center;
}

.p_agree {
    font-size: 14px;
    margin-top: 0em; /* Отступ сверху */
    margin-bottom: 0em; /* Отступ снизу */
    font-family: bold-one;
}

.p_vk {
    font-size: 18px;
    vertical-align: middle;
    font-family: light-one;
    display: table-cell;
}

.light_p {
    font-size: 30px;
    margin-top: 0em; /* Отступ сверху */
    margin-bottom: 0em; /* Отступ снизу */
    font-family: light-one;
    text-align: center;
}
.error_p {
    font-size: 14px;
    margin-top: 0em; /* Отступ сверху */
    margin-bottom: 0em; /* Отступ снизу */
    font-family: light-one;
    text-align: left;
    color: #FF0000;
}
.new-input-style input {
    border-radius: 0;
    padding: 5px;
    height: 20px;
    width: 97%;
    font-family: light-one;
    line-height: inherit;
    font-size: inherit;
    -webkit-appearance: none;
}

.new-select-style select {
    border-radius: 0;
    background: url(img/arrow.png) no-repeat right #0c62b9;
    height: 34px;
    border: 3px solid #FFFFFF;
    padding: 5px;
    width: 100%;
    font-size: inherit;
    font-family: light-one;
    color: #FFF;
    line-height: inherit;
    -webkit-appearance: none;
   }

.new-button-style input {
    width: 100%;
    height: 34px;
    border: 3px solid #FFFFFF;
    padding: 5px;
    font-size: inherit;
    font-family: light-one;
    color: #FFF;
    background: url(img/arrow1.png) no-repeat right #0c62b9;
    text-align: left;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.logons {
    text-align: center;
}

.vk_div {
    margin-top: 10px;
    display: table;
    vertical-align: middle;
}