<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NS</title>
        <meta name="description" content="Start page" />
        <meta name="author" content="temikdark" />
        <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">

    </head>
    <body>
        <div class="outer">
            <div class="inner">
                <p class="bold_p">HEALTH&FITNESS</p>
                <p class="light_p">WEEKEND</p>
                {% if not registered %}
                <form action="masters">
                    <div class="new-button-style">
                        <input type="submit" value="РЕГИСТРАЦИЯ НА МК!" />
                    </div>
                </form>
                <form action="run">
                    <div class="new-button-style">
                        <input type="submit" value="РЕГИСТРАЦИЯ НА ГГ!" />
                    </div>
                </form>
                {% else %}
                    <p class="bold_p">ALL RIGHT!</p>
                {% endif %}
                <div class="vk_div">
                    <a href="https://vk.com/nshealth">
                        <img src="{% static "img/vk.png" %}" wight=40px height=40px align="left" vspace="5" hspace="5">
                        <p class="p_vk">
                            ПОДРОБНАЯ ИНФОРМАЦИЯ В ГРУППЕ ВКОНТАКТЕ
                        </p>
                    </a>
                </div>
                <div class="logons">
                    <a href="http://never-sleep.ru">
                        <img src="{% static "img/logons.png" %}" vspace="10">
                    </a>
                </div>
            </div>
        </div>

    </body>
</html>