<!DOCTYPE html>
{% load staticfiles %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>
    function control_bumperball() {
        if ($('#input_mk1').val() == 'bumper') {
            $('#input_mk2').hide();
        } else {
            $('#input_mk2').show();
        }
    }
</script>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NS</title>
        <meta name="description" content="MC registration" />
        <meta name="author" content="temikdark" />
        <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">

    </head>
    <body>
        <div class="outer">
            <div class="inner">
                <p class="bold_p">HEALTH&FITNESS</p>
                <p class="light_p">WEEKEND</p>
                {% if not registered %}
                <form action="" method="post">
                    {% csrf_token %}
                    {% if errors %}
                        <p class="error_p">В КОМАНДЕ ДОЛЖНО БЫТЬ 6 ЧЕЛОВЕК (МИНИМУМ 2 ДЕВУШКИ), А ТАКЖЕ ДОЛЖЕН БЫТЬ УКАЗАН КОНТАКТНЫЙ НОМЕР ТЕЛЕФОНА</p>
                    {% else %}
                        <p class="p_agree">УКАЖИТЕ УЧАСТНИКОВ КОМАНДЫ И КОНТАКТНЫЙ НОМЕР ТЕЛЕФОНА. УЧТИТЕ, ЧТО В КОМАНДЕ ДОЛЖНО БЫТЬ ПО МЕНЬШЕЙ МЕРЕ 2 ДЕВУШКИ</p>
                    {% endif %}
                    <div class="new-input-style">
                        <p class="p_style">{{ form.tel }}</p>
                    </div>
                    <div class="new-input-style">
                        <p class="p_style">{{ form.name1 }}</p>
                    </div>
                    <div class="new-input-style">
                        <p class="p_style">{{ form.name2 }}</p>
                    </div>
                    <div class="new-input-style">
                        <p class="p_style">{{ form.name3 }}</p>
                    </div>
                    <div class="new-input-style">
                        <p class="p_style">{{ form.name4 }}</p>
                    </div>
                    <div class="new-input-style">
                        <p class="p_style">{{ form.name5 }}</p>
                    </div>
                    <div class="new-input-style">
                        <p class="p_style">{{ form.name6 }}</p>
                    </div>
                    <div class="new-button-style">
                        <input type="submit" value="ПОГНАЛИ!" />
                    </div>
                </form>
                {% else %}
                    <p class="bold_p">ALL RIGHT!</p>
                {% endif %}
                <div class="vk_div">
                    <a href="https://vk.com/nshealth">
                        <img src="{% static "img/vk.png" %}" wight=40px height=40px align="left" vspace="5" hspace="5">
                        <p class="p_vk">
                            ПОДРОБНАЯ ИНФОРМАЦИЯ В ГРУППЕ ВКОНТАКТЕ
                        </p>
                    </a>
                </div>
                <div class="logons">
                    <a href="http://never-sleep.ru">
                        <img src="{% static "img/logons.png" %}" vspace="10">
                    </a>
                </div>
            </div>
        </div>

    </body>
</html>
